<!DOCTYPE html>
<html lang="en">
	<head>
		<%- include('../partial/head') %>

		<style type="text/css">
			main {
				margin-top: 0px;
			}

			footer {
				margin-top: 0px;
			}

			canvas {
				margin: auto;
			}
		</style>
	</head>
	<body class="container">
		Landing Screen
	</body>
<html>